table,
th,
td {
  border-collapse: collapse;
  border: 1px solid #ddd;
}

th {
  height: 30px;
  vertical-align: middle;
  background-color: #eee;
}

th,
td {
  padding: 10px;
  text-align: left;
  width: 200px;
}

tr:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}
